body {
    background-color: rgb(10, 21, 37);
    margin: 0px;
}

.content {
    width: calc(100%);
    background-color: #666667;
    margin: auto;
    margin-top: 0px;
}

.prev,
.next {
    display: none;
    height: 0px;
    width: 0px;
    max-width: 0px;
    max-height: 0px;
}

.image {
    margin-bottom: 2em;
}

.dual {
    display: inline-flex;
    height: 200vh;
    width: 100vw;
}

.current {
    display: block;
    resize: both;
    object-fit: contain;
    max-width: 100%;
    object-position: right top;
    resize: both;
    box-shadow: #000000 2px 2px 15px;
}

.currentsecond {
    display: block;
    resize: both;
    object-fit: contain;
    max-width: 100%;
    object-position: left top;
    resize: both;
}

.image>.current {
    margin: auto;
}

.image>.currentsecond {
    display: none;
    width: 0px;
    height: 0px;
}

.dual>.current {
    width: 100%;
    height: 100%;
    max-width: 900%;
    max-height: 100%;
    margin-bottom: 0em;
}

.dual>.currentsecond {
    width: 100%;
    height: 100%;
    max-width: 900%;
    max-height: 100%;
    margin-bottom: 0em;
    box-shadow: #000000 2px 2px 15px;
}

.preview {
    width: 162px;
    height: 250px;
    background-size: cover !important;
    resize: both;
    margin: .5em;
    margin-bottom: 1.5em;
    color: white;
    text-align: center;
    position: relative;
    text-shadow: #000000 1px 1px 1px, #000000 0px 0px 1px;
    box-shadow: #000000 2px 2px 5px;
    z-index: 0;
}

.preview .previewtext {
    position: absolute;
    bottom: 0px;
    margin: auto;
    width: 100%;
    background-color: #00000075;
}

.preview .hitbox {
    margin: auto;
    margin-top: 0px;
    margin-bottom: 18px;
    height: 232px;
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.45) 0%,rgba(0,0,0,0) 22%,rgba(0,0,0,0) 48%,rgba(0,0,0,0) 88%,rgba(0,0,0,0.45) 100%);
}

.preview .pages {
    margin: auto;
    margin-top: -18px;
    width: 50%;
    background-color: #00000075;
    z-index: 20;
}

.preview .pages.done {
    margin: auto;
    width: 50%;
    background-color: #00ff0075;
}

.previewset {
    display: flex;
    margin: auto;
    padding: .5em;
    flex-wrap: wrap;
}

button {
    padding: 50;
    padding: .5em;
}

.nav {
    margin: 0 auto;
    bottom: -8em;
    padding: 1em;
    display: flex;
    height: 5em;
    background-color: rgb(10, 21, 37);
    position: sticky;
}

.navhide {
    bottom: -8em;
}

.button {
    width: 50%;
    text-align: center;
    color: lightgrey;
    font-size: 5em;
}

.title {
    display: block;
    margin: 1em auto;
    width: fit-content;
    padding: .5em;
    font-size: 3em;
    color: white;
    background-color: #00000075;
}

.progress {
    font-size: 2em;
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: .5em;
    padding-top: 1em;
    width: 80%;
    font-size: 3em;
}

h2 {
    margin: .5em;
    padding-top: 0em;
    width: 90%;
    font-size: 1.5em;
}

.information {
    margin: auto;
    top: 0px;
    right: 0px;
    position: sticky;
    z-index: 100;
}

.hide {
    width: 0vw;
    height: 0vh;
    display: none;
}

.sticks {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #666667;
    box-shadow: #000000 0px 0px 5px;
    padding: 0.5em;
    width: auto;
}

.comicbig {
    width: 50vh;
    height: auto;
    background-size: cover !important;
    resize: both;
    display: inline;
    float: left;
    margin: 0.8em;
    cursor: pointer;
}

.comicinfo {
    padding: 0.4em;
    width: 40vw;
}

.close {
    float: right;
    cursor: pointer;
    font-size: 2em;
}

.buttons {
    display: flex;
    float: right;
}

.header {
    color: white;
    font-size: 5em;
    margin: 0.2em;
}

@media screen and (max-aspect-ratio: 10/12) {
    .nav {
        bottom: 0em;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 6em;
    }
    h2 {
        font-size: 3em;
    }
    .preview {
        width: 324px;
        height: 500px;
    }
    .sticks {
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: #666667;
        box-shadow: #000000 0px 0px 5px;
        padding: 0.5em;
        width: 100%;
        height: 100%;
    }
    .comicinfo {
        font-size: 3em;
    }
    .close {
        font-size: 6em;
        margin: 0.5em;
    }
    .comicbig {
        margin: 0.5em;
        width: 40vh;
    }
}